
<style>
  html { height:100%; }
  body { position:absolute; top:0; bottom:0; right:0; left:0; background-color: #eceff1}
  html {
    overflow: hidden;
    width: 100%;
  }

  body {
    height: 100%;
    position: fixed;
    /* prevent overscroll bounce*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* iOS velocity scrolling */
  }
</style>
<center style="border-top: #3E2353 10px solid">
  <div class="center" style="margin-top: 10px;">
    <img style="width: 120px;" src="https://res.cloudinary.com/caiodsc/image/upload/v1561777989/3-_EVENT_LOGOai.png">
  </div>
  <br>
  <div class="center" style="color:#3E2353; font-size: 30px;">
    <b>Estamos em Manutenção</b>
  </div>
  <br>
  <h6 class="center" style="color: #37474f">
    Foi mal galera, mas estamos melhorando o
  </h6>
  <h6 class="center" style="color: #37474f; margin: 0">
    funcionamento dos processos.
  </h6>
  <br>
  <div class="center" style="color: #37474f; font-size: 20px;">
    Logo logo estaremos com novidades.
  </div>

</center>
<div class="center" style="position: absolute; margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; bottom: 50px; z-index: 1">
  <img id="img1" style="height: 200px;" src="https://res.cloudinary.com/caiodsc/image/upload/v1561777751/ILUSTRA%C3%87%C3%83O_PEOPLE.png">
</div>
<div class="center" style="position: absolute; bottom: 0">
  <img id="img2" style="width: 100%; height: 250px; z-index: 0" src="https://res.cloudinary.com/caiodsc/image/upload/v1561777824/LINHA_VERDE.png">
</div>


<script>
    $(document).ready(function(){
        if(window.orientation != 0){
          $("#img1")[0].style.opacity = 0.1;
          $("#img2")[0].style.opacity = 0.1;
        }
        $(window).on("orientationchange",function(){
            if(window.orientation != 0){
                $("#img1")[0].style.opacity = 0.1;
                $("#img2")[0].style.opacity = 0.1;
            } else {
                $("#img1")[0].style.opacity = 1;
                $("#img2")[0].style.opacity = 1;
            }
        });

    });
</script>