
<style>
  html { height:100%; }
  body { position:absolute; top:0; bottom:0; right:0; left:0; background-color: #eceff1}
  html {
    overflow: hidden;
    width: 100%;
  }

  body {
    height: 100%;
    position: fixed;
    /* prevent overscroll bounce*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* iOS velocity scrolling */
  }
</style>
<center style="border-top: #311b92 15px solid">
  <br>
  <div class="center">
    <img style="width: 120px;" src="https://res.cloudinary.com/caiodsc/image/upload/v1561777989/3-_EVENT_LOGOai.png">
  </div>
  <h4 class="center deep-purple-text text-darken-4">
    <b>Estamos em Manutenção</b>
  </h4>
  <br>
  <h6 class="center" style="color: #263238">
    Foi mal galera, mas estamos melhorando o funcionamento dos processos.
  </h6>
  <br>
  <h5 class="center" style="color: #263238">
    Logo logo estaremos com novidades.
  </h5>

</center>
<div class="center" style="position: absolute; margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; bottom: 50px;">
  <img style="height: 250px;" src="https://res.cloudinary.com/caiodsc/image/upload/v1561777751/ILUSTRA%C3%87%C3%83O_PEOPLE.png">
</div>
<div class="center" style="position: absolute; bottom: 0">
  <img style="width: 100%; height: 250px;" src="https://res.cloudinary.com/caiodsc/image/upload/v1561777824/LINHA_VERDE.png">
</div>