<% image_tag "image.jpg" %>

<center>
  <div class="center">
    Estamos em Manutenção
  </div>
  <div class="center">
    Foi mal galera, mas estamos melhorando o funcionamento dos processos.
  </div>
  <div class="center">
    Logo logo estaremos com novidades.
  </div>
</center>